
.input {
  display: flex;
  width: 100%;
  height: 100%;

  .input-container {
    display: flex;
    width: 100%;

    .input-field {
      padding: 24px;
      background-color: #f8f8f8;
      border: none;
      border-radius: 2px;
      width: 100%;
      color: #000000;
      outline: none;
      z-index: 0;
      -webkit-tap-highlight-color: transparent;
      line-height: 1;

      &::-webkit-input-placeholder {
        color: #b7bcdd;
        line-height: 1;
        padding-top: 2px;
      }

      &:hover + .input-field-shadow {
        box-shadow: 0 2px 10px #d8ddec;
      }

      &:focus + .input-field-shadow {
        box-shadow: 0 8px 14px #d8ddec;
        height: 50%;
        width: 97%;
        left: 2%;
      }
    }

    .input-field-shadow {
      position: absolute;
      display: flex;
      width: 99%;
      height: 95%;
      bottom: 0;
      left: 1%;
      z-index: -10;
      box-shadow: 0 0 5px #d8ddec;
      border-radius: 2px;
      transition: all ease 240ms;
    }
  }
}
