.product-menu {
  margin-bottom: 20px;

  &-item {
    height: 20px;
    margin-right: 10px;
    padding: 10px 20px 10px 0;
    color: gray;
    cursor: pointer;

    &__active {
      color: black;
    }
  }
}
