@import "src/assets/color";

.top-bar {
  width: 100%;
  display: flex;
  justify-content: center;
}

.top-bar-block {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  max-width: 1104px;
  height: 60px;
  border-bottom: 1px solid;

  &__logo {
    width: 130px;
    height: 40px;
    color: #1d253b;
  }

  &__icon {
    width: 20px;
    height: 20px;
    margin: 0 0 0 20px;
  }

  &__main {
    display: flex;
    align-items: center;
    margin-right: 12px;
    cursor: pointer;

    &-link-block {
      display: flex;
    }
  }
  &__exit-block {
    display: flex;
    align-items: center;
  }

  &-text {
    display: flex;
    align-items: center;
    width: fit-content;
    height: 40px;
    margin: 10px;
    color: gray;

    &__active {
      color: #1d253b;
    }
  }

  &__img {
    height: 20px;
    margin-right: 10px;
  }
}

a {
  color: #1d253b;
  text-decoration: none;
}

a:hover {
  color: #1d253b;
  text-decoration: none;
}

main {
  display: flex;
  justify-content: center;
  height: 100%;
  width: 100%;
  margin-top: 14px;
  margin-right: 12px;
}

.top-bar-main-block {
  width: 100%;
  max-width: 1104px;
}