@import "src/assets/color";

.menu {
  display: flex;
  width: 100%;
  height: 90%;
  margin-top: 20px;

  &-logo-text {
    color: white;
    margin: 0 0 0 20px;
  }

  &-block {
    min-width: 212px;
    height: 100%;
    border-radius: 5px;
    padding: 10px;
    margin: 15px;

    background: $--info;
    background: -webkit-gradient(linear, left bottom, left top, from(#3358f4), to(#1d8cf8));
    background: linear-gradient(0deg, #3358f4, #1d8cf8);

    -webkit-box-shadow: 0 2px 22px 0 rgb(0 0 0 / 30%), 0 4px 20px 0 rgba(0, 0, 0, 0.15);
    box-shadow: 0 2px 22px 0 rgb(0 0 0 / 30%), 0 4px 20px 0 rgba(0, 0, 0, 0.15);
  }

  &-block-item {
    width: fit-content;
    height: 40px;
    margin: 10px 20px;
    cursor: pointer;
    list-style-type: none;

    &-text {
      height: 40px;
      color: white;
    }

    &-text:hover {
      color: white;
    }
  }

  &-block-item::marker {
    color: white;
  }

  &-block-item-container {
    display: flex;
    align-items: center;
    height: 40px;
  }

  &-block-logo {
    display: flex;
    width: inherit;
    justify-content: center;
    border-bottom: 1px solid #ccc;
    border-collapse: collapse;

    &-text {
      color: white;
      cursor: pointer;
    }

    &-text:hover {
      color: white;
      cursor: pointer;
    }
  }

  &-img {
    height: 20px;
    margin-left: 5px;
    margin-right: 20px;
  }

}

.active-menu-tab {
  list-style-type:disc;
}

main {
  height: 100%;
  width: 100%;
  margin-top: 14px;
  margin-right: 12px;
}