.products {

  &-card {
    width: fit-content;
    padding: 20px;
    background-color: white;
    margin-bottom: 20px;
  }

  &-table-scroll {
    overflow: auto;
  }

  &-filter-title {
    margin: 0 10px 0 10px
  }

  &-filter {
    display: flex;
    flex-wrap: wrap;
  }


  &-filter-item {
    width: 246px;
    height: 50px;
    display: block;
    margin: 10px;
  }
}
